openapi: "3.1.0"
info:
  title: Avo Inspector API
  description: |
    HTTP wire protocol for the Avo Inspector server-side SDK.

    POST /inspector/v1/track accepts a JSON array of one or more event objects (a single event
    when batching is inactive, multiple when a batch is flushed — see SPEC.md Section 12).
    Authentication is carried inside the JSON body via the `apiKey` field — there is no
    Authorization header.

    See SPEC.md (Section 7) for the full normative wire-protocol specification.
  version: "2.1.0"
  contact:
    name: Avo Support
    email: support@avo.app
  license:
    name: MIT
    identifier: MIT

servers:
  - url: https://api.avo.app
    description: Production Inspector API

# Authentication is carried inside the JSON request body via the `apiKey` field.
# There is no Authorization header. Security is intentionally empty at the HTTP level.
security: []

paths:
  /inspector/v1/track:
    post:
      operationId: trackEventSchema
      summary: Track an event schema
      description: |
        Sends the extracted schema for a single event to the Avo Inspector backend.

        The request body MUST be a JSON array of one or more event objects. A single
        `trackSchemaFromEvent` call enqueues one event; the array carries multiple events when a
        batch is flushed (see SPEC.md Section 12). In `dev` (where batchSize is forced to 1) each
        call sends a single-element array.

        The SDK MUST apply a 10-second timeout to every call.
        On 200, the SDK MUST update its internal samplingRate from the response body.

        The request body MUST be gzip-compressed (RFC 1952) when a gzip implementation is
        available on the runtime and the serialized UTF-8 byte length is >= 1024 bytes; the SDK
        MUST then send `Content-Encoding: gzip` with `Content-Length` set to the compressed
        length. `Content-Type` remains `application/json` for server SDKs regardless of
        compression. Falling back to an uncompressed body is allowed only when the body is
        < 1024 bytes, no gzip implementation is available, or compression fails; the backend
        accepts both compressed and uncompressed bodies. See SPEC.md §7.3.5.
      parameters:
        - name: Content-Encoding
          in: header
          required: false
          description: |
            Set to `gzip` when the request body is gzip-compressed (RFC 1952). Omit entirely for
            uncompressed bodies. SDKs MUST compress bodies >= 1024 bytes when gzip is available and
            MUST fall back to an uncompressed body (with this header absent) only when the body is
            < 1024 bytes, gzip is unavailable, or compression fails.
          schema:
            type: string
            enum: ["gzip"]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EventBatch"
            examples:
              plainEvent:
                summary: Example event
                value:
                  - apiKey: "MY_API_KEY"
                    appName: "my-app"
                    appVersion: "1.0.0"
                    libVersion: "1.2.0"
                    env: "dev"
                    libPlatform: "ruby"
                    messageId: "550e8400-e29b-41d4-a716-446655440000"
                    streamId: ""
                    sessionId: ""
                    createdAt: "2026-05-25T12:00:00.000Z"
                    samplingRate: 1.0
                    type: "event"
                    eventName: "User Signed Up"
                    eventProperties:
                      - propertyName: "plan"
                        propertyType: "string"
                      - propertyName: "trialDays"
                        propertyType: "int"
              gatewayEvent:
                summary: Event observed at one gateway output (SPEC.md §7.3.6)
                value:
                  - apiKey: "MY_GATEWAY_KEY"
                    appName: "my-app"
                    appVersion: "4.2.0"
                    libVersion: "1.2.0"
                    env: "prod"
                    libPlatform: "ruby"
                    messageId: "550e8400-e29b-41d4-a716-446655440001"
                    streamId: ""
                    sessionId: ""
                    createdAt: "2026-09-03T12:00:00.000Z"
                    samplingRate: 1.0
                    type: "event"
                    eventName: "purchase"
                    outputReference: "meta-x7k2q"
                    originHint: "android"
                    eventProperties:
                      - propertyName: "items"
                        propertyType: "list(object)"
                        children: []
      responses:
        "200":
          description: |
            Event schema accepted. The SDK MUST update its internal samplingRate if the
            response body contains a numeric samplingRate in [0.0, 1.0].
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrackResponse"
              example:
                samplingRate: 1.0
        "400":
          description: |
            Bad request. The SDK MUST resolve (not reject) the promise on non-200 responses.
            In dev/staging with logging enabled, the status code SHOULD be logged.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized. Invalid or missing apiKey in the request body.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Rate limited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:
  schemas:
    EventBatch:
      description: |
        The top-level request body for POST /inspector/v1/track.
        An array of one or more event objects (a single event when batching is inactive,
        e.g. env dev; multiple when a batch is flushed — see SPEC.md Section 12).
      type: array
      minItems: 1
      items:
        $ref: "#/components/schemas/EventBody"

    EventBody:
      description: |
        A single event object in the Inspector v1 track request body.
        type must be 'event'. See schemas/event-body.json for the JSON Schema definition.
      type: object
      # SPEC.md §3.3, §7.3.1: trackingId, visitorId, and userId MUST NOT be sent. sessionId is
      # REQUIRED and MUST be the empty string for server SDKs — the ingestion pipeline drops
      # events that omit it.
      not:
        anyOf:
          - required: [trackingId]
          - required: [visitorId]
          - required: [userId]
      # SPEC.md §7.3.6: appVersion may be null ONLY when originHint is present (source-scoped
      # event with no usable per-event version); without originHint the constructor version is sent.
      # SPEC.md §7.1 backend note: the v1 ingestion path currently DROPS null-appVersion events
      # while still returning 200, so a v1 gateway integration SHOULD pair originHint with a
      # non-blank options.appVersion. The wire contract below is unchanged by that backend gap.
      if:
        required: [appVersion]
        properties:
          appVersion:
            type: "null"
      then:
        required: [originHint]
      required:
        - apiKey
        - appName
        - appVersion
        - libVersion
        - env
        - libPlatform
        - messageId
        - streamId
        - sessionId
        - createdAt
        - samplingRate
        - type
        - eventName
        - eventProperties
      properties:
        apiKey:
          type: string
          minLength: 1
          description: The Inspector API key passed to the constructor.
        appName:
          type: string
          description: Application name. Empty string if not provided.
        appVersion:
          type: [string, "null"]
          minLength: 1
          description: |
            Per-event application version. The `version` constructor option unless overridden by
            `options.appVersion`; a literal JSON `null` ONLY when `options.originHint` is set and
            no usable `options.appVersion` was provided (SPEC.md §7.3.6). The key is always present.
            Backend compatibility (informative, as of 2026-09-03): the `/inspector/v1/track` fast
            parser drops events whose `appVersion` is `null` and still returns `200`, while
            `/inspector/gtm/v1/track` and `/inspector/v2/track` tolerate it. Until that gap closes a
            gateway-scoped integration on v1 SHOULD pair `originHint` with a non-blank
            `options.appVersion`, and the SDK SHOULD emit a one-time warning whenever it resolves
            `appVersion` to `null` (SPEC.md §7.1, §7.3.6).
        libVersion:
          type: string
          pattern: "^\\d+\\.\\d+\\.\\d+$"
          description: SDK library version. Plain SemVer string, no suffix.
        env:
          type: string
          enum:
            - dev
            - staging
            - prod
          description: Environment. Exact wire values.
        libPlatform:
          type: string
          minLength: 1
          description: SDK platform/language identifier (e.g. node, ruby, python, go).
        messageId:
          type: string
          pattern: "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
          description: UUID v4, unique per event.
        streamId:
          type: string
          description: Caller-supplied streamId, or empty string if none provided.
        sessionId:
          type: string
          const: ""
          description: Always empty string for server SDKs. Required by the Inspector ingestion pipeline.
        createdAt:
          type: string
          pattern: "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}\\.\\d{3}Z$"
          description: ISO 8601 UTC timestamp with millisecond precision.
        samplingRate:
          type: number
          minimum: 0.0
          maximum: 1.0
          description: "Current sampling rate [0.0, 1.0]. Initial value 1.0."
        type:
          type: string
          const: event
          description: Literal string 'event'. Must be present.
        eventName:
          type: string
          description: Name of the tracked event.
        eventProperties:
          type: array
          items:
            $ref: "#/components/schemas/EventPropertyPlain"
          description: Extracted schema — array of plain property objects.
        outputReference:
          type: string
          minLength: 1
          pattern: "^(?!\\s)(?![\\s\\S]*\\s$)[\\s\\S]+$"
          description: |
            OPTIONAL gateway coordinate (SPEC.md §7.3.6): reference of the gateway output this
            observation was bound for (e.g. `meta-x7k2q`). Absent = gateway-level checkpoint.
            Trimmed; omitted entirely (never `null` or `""`) when empty or whitespace-only.
            The pattern mirrors the §7.3.6 trim-only rule exactly: leading and trailing
            whitespace are rejected because normalization removes them, while internal
            whitespace — line breaks included — is preserved and therefore accepted. Do not
            simplify it to `^\S(.*\S)?$`, which rejects a value containing a newline that a
            conformant SDK would send unchanged.
        originHint:
          type: string
          minLength: 1
          pattern: "^(?!\\s)(?![\\s\\S]*\\s$)[\\s\\S]+$"
          description: |
            OPTIONAL gateway coordinate (SPEC.md §7.3.6): low-cardinality label of the source the
            event came from (e.g. `android`). Never a user identifier. Trimmed; omitted entirely
            (never `null` or `""`) when empty or whitespace-only.
            The pattern mirrors the §7.3.6 trim-only rule exactly: leading and trailing
            whitespace are rejected because normalization removes them, while internal
            whitespace — line breaks included — is preserved and therefore accepted. Do not
            simplify it to `^\S(.*\S)?$`, which rejects a value containing a newline that a
            conformant SDK would send unchanged.

    EventPropertyPlain:
      description: |
        An event property schema entry used in eventProperties.
        See schemas/event-property-plain.json and schemas/schema-entry.json.
      type: object
      required:
        - propertyName
        - propertyType
      properties:
        propertyName:
          type: string
          description: The name of the event property.
        propertyType:
          type: string
          enum:
            - string
            - int
            - float
            - boolean
            - "null"
            - object
            - list(string)
            - list(int)
            - list(float)
            - list(boolean)
            - list(object)
            - unknown
          description: The classified type of the property value.
        children:
          type: array
          description: |
            Present when propertyType is 'object' or any list type. Absent for primitive
            scalar types. Each element is a primitive type string, a SchemaEntry object
            (object-typed children), or a (possibly nested) array of these.
          items:
            $ref: "#/components/schemas/SchemaChildElement"

    SchemaChildElement:
      description: |
        One element of a children array: a primitive type string, a SchemaEntry
        (EventPropertyPlain) object, or a (possibly nested) array of these. The three
        branches are disjoint by JSON type (string / object / array).
      oneOf:
        - type: string
          enum:
            - string
            - int
            - float
            - boolean
            - "null"
            - object
            - unknown
        - $ref: "#/components/schemas/EventPropertyPlain"
        - type: array
          items:
            $ref: "#/components/schemas/SchemaChildElement"

    TrackResponse:
      description: Response body for a successful 200 track call.
      type: object
      required:
        - samplingRate
      properties:
        samplingRate:
          type: number
          minimum: 0.0
          maximum: 1.0
          description: Updated sampling rate. SDK MUST apply this value.

    ErrorResponse:
      description: Error response body for non-200 responses.
      type: object
      properties:
        error:
          type: string
          description: Human-readable error message.
