openapi: "3.1.0"
info:
  title: Avo Inspector API
  description: |
    HTTP wire protocol for the Avo Inspector server-side SDK.

    POST /inspector/v1/track accepts a JSON array with exactly one event object per call
    (no time-based batching in v1). Authentication is carried inside the JSON body via the
    `apiKey` field — there is no Authorization header.

    See SPEC.md (Section 7) for the full normative wire-protocol specification.
  version: "1.0.0"
  contact:
    name: Avo Support
    email: support@avo.app
  license:
    name: MIT
    identifier: MIT

servers:
  - url: https://api.avo.app
    description: Production Inspector API

# Authentication is carried inside the JSON request body via the `apiKey` field.
# There is no Authorization header. Security is intentionally empty at the HTTP level.
security: []

paths:
  /inspector/v1/track:
    post:
      operationId: trackEventSchema
      summary: Track an event schema
      description: |
        Sends the extracted schema for a single event to the Avo Inspector backend.

        The request body MUST be a JSON array containing exactly one event object.
        Each call sends a single-element array (no time-based batching in v1).

        The SDK MUST apply a 10-second timeout to every call.
        On 200, the SDK MUST update its internal samplingRate from the response body.

        The request body MUST be gzip-compressed (RFC 1952) when a gzip implementation is
        available on the runtime and the serialized UTF-8 byte length is >= 1024 bytes; the SDK
        MUST then send `Content-Encoding: gzip` with `Content-Length` set to the compressed
        length. `Content-Type` remains `application/json` for server SDKs regardless of
        compression. Falling back to an uncompressed body is allowed only when the body is
        < 1024 bytes, no gzip implementation is available, or compression fails; the backend
        accepts both compressed and uncompressed bodies. See SPEC.md §7.3.7.
      parameters:
        - name: Content-Encoding
          in: header
          required: false
          description: |
            Set to `gzip` when the request body is gzip-compressed (RFC 1952). Omit entirely for
            uncompressed bodies. SDKs MUST compress bodies >= 1024 bytes when gzip is available and
            MUST fall back to an uncompressed body (with this header absent) only when the body is
            < 1024 bytes, gzip is unavailable, or compression fails.
          schema:
            type: string
            enum: ["gzip"]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EventBatch"
            examples:
              plainEvent:
                summary: Plain (unencrypted) event
                value:
                  - apiKey: "MY_API_KEY"
                    appName: "my-app"
                    appVersion: "1.0.0"
                    libVersion: "1.2.0"
                    env: "dev"
                    libPlatform: "ruby"
                    messageId: "550e8400-e29b-41d4-a716-446655440000"
                    anonymousId: ""
                    createdAt: "2026-05-25T12:00:00.000Z"
                    samplingRate: 1.0
                    type: "event"
                    eventName: "User Signed Up"
                    eventProperties:
                      - propertyName: "plan"
                        propertyType: "string"
                      - propertyName: "trialDays"
                        propertyType: "int"
                    avoFunction: false
                    eventId: null
                    eventHash: null
      responses:
        "200":
          description: |
            Event schema accepted. The SDK MUST update its internal samplingRate if the
            response body contains a numeric samplingRate in [0.0, 1.0].
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrackResponse"
              example:
                samplingRate: 1.0
        "400":
          description: |
            Bad request. The SDK MUST resolve (not reject) the promise on non-200 responses.
            In dev/staging with logging enabled, the status code SHOULD be logged.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized. Invalid or missing apiKey in the request body.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Rate limited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:
  schemas:
    EventBatch:
      description: |
        The top-level request body for POST /inspector/v1/track.
        An array of exactly one event object. No time-based batching in v1.
      type: array
      minItems: 1
      maxItems: 1
      items:
        $ref: "#/components/schemas/EventBody"

    EventBody:
      description: |
        A single event object in the Inspector v1 track request body (plain, no encryption).
        type must be 'event'. See schemas/event-body.json for the JSON Schema definition.
      type: object
      # SPEC.md §7.3.1: trackingId and sessionId MUST NOT be sent in v1.
      not:
        anyOf:
          - required: [sessionId]
          - required: [trackingId]
      required:
        - apiKey
        - appName
        - appVersion
        - libVersion
        - env
        - libPlatform
        - messageId
        - anonymousId
        - createdAt
        - samplingRate
        - type
        - eventName
        - eventProperties
        - avoFunction
        - eventId
        - eventHash
      properties:
        apiKey:
          type: string
          minLength: 1
          description: The Inspector API key passed to the constructor.
        appName:
          type: string
          description: Application name. Empty string if not provided.
        appVersion:
          type: string
          minLength: 1
          description: Application version (version constructor option).
        libVersion:
          type: string
          pattern: "^\\d+\\.\\d+\\.\\d+$"
          description: SDK library version. Plain SemVer string, no suffix.
        env:
          type: string
          enum:
            - dev
            - staging
            - prod
          description: Environment. Exact wire values.
        libPlatform:
          type: string
          minLength: 1
          description: SDK platform/language identifier (e.g. node, ruby, python, go).
        messageId:
          type: string
          pattern: "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
          description: UUID v4, unique per event.
        anonymousId:
          type: string
          description: Caller-supplied streamId, or empty string if none provided.
        createdAt:
          type: string
          pattern: "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}\\.\\d{3}Z$"
          description: ISO 8601 UTC timestamp with millisecond precision.
        samplingRate:
          type: number
          minimum: 0.0
          maximum: 1.0
          description: "Current sampling rate [0.0, 1.0]. Initial value 1.0."
        publicEncryptionKey:
          type: string
          description: P-256 public key in hex. Present only when provided at constructor time.
        type:
          type: string
          const: event
          description: Literal string 'event'. Must be present.
        eventName:
          type: string
          description: Name of the tracked event.
        eventProperties:
          type: array
          items:
            $ref: "#/components/schemas/EventPropertyPlain"
          description: Extracted schema — array of plain property objects.
        avoFunction:
          type: boolean
          description: "true if sent via _avoFunctionTrackSchemaFromEvent (Codegen path); false for trackSchemaFromEvent."
        eventId:
          type:
            - string
            - "null"
          description: Avo Codegen event ID. Must be null when avoFunction is false.
        eventHash:
          type:
            - string
            - "null"
          description: Avo Codegen event hash. Must be null when avoFunction is false.

    EventPropertyPlain:
      description: |
        A plain (unencrypted) event property schema entry.
        Used in eventProperties when encryption is inactive.
        See schemas/event-property-plain.json and schemas/schema-entry.json.
      type: object
      required:
        - propertyName
        - propertyType
      properties:
        propertyName:
          type: string
          description: The name of the event property.
        propertyType:
          type: string
          enum:
            - string
            - int
            - float
            - boolean
            - "null"
            - object
            - list(string)
            - list(int)
            - list(float)
            - list(boolean)
            - list(object)
            - list(null)
            - unknown
          description: The classified type of the property value.
        children:
          type: array
          description: |
            Present when propertyType is 'object' or any list type. Absent for primitive
            scalar types. Each element is either a type string or a SchemaEntry array.
          items:
            oneOf:
              - type: string
                enum:
                  - string
                  - int
                  - float
                  - boolean
                  - "null"
                  - object
                  - unknown
              - type: array
                items:
                  $ref: "#/components/schemas/EventPropertyPlain"

    TrackResponse:
      description: Response body for a successful 200 track call.
      type: object
      required:
        - samplingRate
      properties:
        samplingRate:
          type: number
          minimum: 0.0
          maximum: 1.0
          description: Updated sampling rate. SDK MUST apply this value.

    ErrorResponse:
      description: Error response body for non-200 responses.
      type: object
      properties:
        error:
          type: string
          description: Human-readable error message.
